.App {
  display: flex;
  height: 100vh;
}

.App-navbar {
  width: 100px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: -40px;
  color: white;
}

.App-navbar img {
  margin-bottom: 0px;
  width: 60px; /* Adjust width as needed */
  padding: 20px;
  height: auto;
}

.App-content {
  flex: 1;
  padding: 0px;
}

iframe {
  position: fixed; /* Set position to fixed */
  top: 0;
  left: 100px; /* Adjust left position based on navbar width */
  width: calc(100% - 100px); /* Adjust width based on navbar width */
  height: 100vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /*z-index: -1; /* Set z-index to send it to the background */
}

h2{
  position: fixed;
  top: 0;

}
